logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

*.txt
.g8/
.metals/
.vscode/
views/
HomeController.scala
*.conf
*.xml
messages
.bloop/
*.sbt
*.sc
public/
test/
scala-build-build.json